In [40]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\archana\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\archana\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\archana\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\archana\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\archana\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\archana\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\archana\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\archana\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Q.1.Answer: A python program to display all the header tags from wikipedia.org

In [2]:
page= requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup= BeautifulSoup(page.content)

header_tags=['h1','h2','h3','h4','h5','h6','h7']
for i in soup.find_all(header_tags):    
    print(i.name + ' : ' + i.text.strip())

h1 : Main Page
h1 : Welcome to Wikipedia
h2 : From today's featured article
h2 : Did you know ...
h2 : In the news
h2 : On this day
h2 : Today's featured picture
h2 : Other areas of Wikipedia
h2 : Wikipedia's sister projects
h2 : Wikipedia languages
h2 : Navigation menu
h3 : Personal tools
h3 : Namespaces
h3 : Views
h3 : Search
h3 : Navigation
h3 : Contribute
h3 : Tools
h3 : Print/export
h3 : In other projects
h3 : Languages

# Q.2.Answer:  A python program to display IMDB’s Top rated 100 movies’ data

In [4]:
page1= requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100&start=1&ref_=adv_nxt')
soup1= BeautifulSoup(page1.content)

name=[]
for i in soup1.find_all('h3', class_="lister-item-header"):
    cells = i.find_all('a')
    name.append(cells[0].text.strip())
print(name ,'\n')   

rating=[]
for i in soup1.find_all('div', class_="inline-block ratings-imdb-rating"):
    rating.append(i.text.replace('\n',''))
print(rating,'\n')

release=[]
for i in soup1.find_all('span', class_="lister-item-year text-muted unbold"):
    release.append(i.text)
print(release,'\n')

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'The Lord of the Rings: The Return of the King', "Schindler's List", 'The Godfather Part II', '12 Angry Men', 'Pulp Fiction', 'Inception', 'The Lord of the Rings: The Two Towers', 'Fight Club', 'The Lord of the Rings: The Fellowship of the Ring', 'Forrest Gump', 'Il buono, il brutto, il cattivo', 'The Matrix', 'Goodfellas', 'The Empire Strikes Back', "One Flew Over the Cuckoo's Nest", 'Top Gun: Maverick', 'Interstellar', 'Cidade de Deus', 'Sen to Chihiro no kamikakushi', 'Saving Private Ryan', 'The Green Mile', 'La vita è bella', 'Se7en', 'Terminator 2: Judgment Day', 'The Silence of the Lambs', 'Star Wars', 'Seppuku', 'Shichinin no samurai', "It's a Wonderful Life", 'Gisaengchung', 'Whiplash', 'The Intouchables', 'The Prestige', 'The Departed', 'The Pianist', 'Gladiator', 'American History X', 'The Usual Suspects', 'Léon', 'The Lion King', 'Nuovo Cinema Paradiso', 'Hotaru no haka', 'Back to the Future', 'Apocalypse Now', 'Alien', 'Once Upon a Time in the West', 'Psycho', 'Rear Window', 'Casablanca', 'Modern Times', 'City Lights', 'Capharnaüm', 'Joker', 'Kimi no na wa.', 'Spider-Man: Into the Spider-Verse', 'Avengers: Endgame', 'Avengers: Infinity War', 'Coco', 'Django Unchained', 'The Dark Knight Rises', '3 Idiots', 'WALL·E', 'The Lives of Others', 'Oldeuboi', 'Memento', 'American Beauty', 'Mononoke-hime', 'Braveheart', 'Aliens', 'Amadeus', 'Raiders of the Lost Ark', 'Das Boot', 'The Shining', 'Tengoku to jigoku', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Witness for the Prosecution', 'Paths of Glory', 'Sunset Blvd.', 'The Great Dictator', 'Jagten', 'Toy Story 3', 'Inglourious Basterds', 'Eternal Sunshine of the Spotless Mind', "Le fabuleux destin d'Amélie Poulain", 'Requiem for a Dream', 'Good Will Hunting', 'Toy Story', 'Reservoir Dogs', 'Once Upon a Time in America', 'Star Wars: Episode VI - Return of the Jedi', '2001: A Space Odyssey', 'Lawrence of Arabia', 'North by Northwest', 'Vertigo', "Singin' in the Rain", 'Citizen Kane', 'M - Eine Stadt sucht einen Mörder']

['9.3', '9.2', '9.0', '9.0', '9.0', '9.0', '9.0', '8.9', '8.8', '8.8', '8.8', '8.8', '8.8', '8.8', '8.7', '8.7', '8.7', '8.7', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3']

['(1994)', '(1972)', '(2008)', '(2003)', '(1993)', '(1974)', '(1957)', '(1994)', '(2010)', '(2002)', '(1999)', '(2001)', '(1994)', '(1966)', '(1999)', '(1990)', '(1980)', '(1975)', '(2022)', '(2014)', '(2002)', '(2001)', '(1998)', '(1999)', '(1997)', '(1995)', '(1991)', '(1991)', '(1977)', '(1962)', '(1954)', '(1946)', '(2019)', '(2014)', '(2011)', '(2006)', '(2006)', '(2002)', '(2000)', '(1998)', '(1995)', '(1994)', '(1994)', '(1988)', '(1988)', '(1985)', '(1979)', '(1979)', '(1968)', '(1960)', '(1954)', '(1942)', '(1936)', '(1931)', '(2018)', '(I) (2019)', '(2016)', '(2018)', '(2019)', '(2018)', '(I) (2017)', '(2012)', '(2012)', '(2009)', '(2008)', '(2006)', '(2003)', '(2000)', '(1999)', '(1997)', '(1995)', '(1986)', '(1984)', '(1981)', '(1981)', '(1980)', '(1963)', '(1964)', '(1957)', '(1957)', '(1950)', '(1940)', '(2012)', '(2010)', '(2009)', '(2004)', '(2001)', '(2000)', '(1997)', '(1995)', '(1992)', '(1984)', '(1983)', '(1968)', '(1962)', '(1959)', '(1958)', '(1952)', '(1941)', '(1931)']

In [5]:
print('*'*73)
print('\t\t\t IMDB’s Top rated 100 Movies')
print('*'*73)

df_movie=pd.DataFrame({'Name of Movie':name, 'Rating of Movie':rating, 'Year of Release of Movie':release})
df_movie

*************************************************************************
			 IMDB’s Top rated 100 Movies
*************************************************************************

,Name of Movie,Rating of Movie,Year of Release of Movie
0,The Shawshank Redemption,9.3,(1994)
1,The Godfather,9.2,(1972)
2,The Dark Knight,9.0,(2008)
3,The Lord of the Rings: The Return of the King,9.0,(2003)
4,Schindler's List,9.0,(1993)
...,...,...,...
95,North by Northwest,8.3,(1959)
96,Vertigo,8.3,(1958)
97,Singin' in the Rain,8.3,(1952)
98,Citizen Kane,8.3,(1941)
99,M - Eine Stadt sucht einen Mörder,8.3,(1931)

# Q.3.Answer:  A python program to display IMDB’s Top rated 100 Indian movies’ data

In [6]:
page2= requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup2= BeautifulSoup(page2.content)

name2=[]
for i in soup2.find_all('h3', class_="lister-item-header"):
    cells = i.find_all('a')
    name2.append(cells[0].text.strip())
print(name2 ,'\n')

rating2=[]
for i in soup2.find_all('div', class_="ipl-rating-star small"):
    rating2.append(i.text.replace('\n',''))
print(rating2 ,'\n')

release2=[]
for i in soup2.find_all('span', class_="lister-item-year text-muted unbold"):
    release2.append(i.text)
print(release2 ,'\n')

['Golmaal', '3 Idiots', 'Masoom', 'Black Friday', 'Taare Zameen Par', 'Satya', 'Khosla Ka Ghosla!', 'Chhoti Si Baat', 'Angoor', 'Jaane Bhi Do Yaaro', 'Guide', 'Pyaasa', 'Chupke Chupke', 'Gangs of Wasseypur', 'Paan Singh Tomar', 'Bhaag Milkha Bhaag', 'Jo Jeeta Wohi Sikandar', 'Zindagi Na Milegi Dobara', 'Lagaan: Once Upon a Time in India', 'Swades: We, the People', 'Dil Chahta Hai', 'Barfi!', 'Rang De Basanti', 'Sholay', 'A Wednesday', 'Hera Pheri', 'Omkara', 'Munna Bhai M.B.B.S.', 'Kahaani', 'Chak De! India', 'OMG: Oh My God!', 'Black', 'Udaan', 'Anand', 'Sarfarosh', 'Mughal-E-Azam', 'Bawarchi', 'The Legend of Bhagat Singh', 'Iqbal', 'Dilwale Dulhania Le Jayenge', 'Special Chabbis', 'Andaz Apna Apna', 'Lage Raho Munna Bhai', 'Gulaal', 'Maqbool', 'Company', 'Deewaar', 'Vaastav: The Reality', 'Padosan', 'Kal Ho Naa Ho', 'My Name Is Khan', 'Jab We Met', 'Hey Ram', 'Salaam Bombay!', 'Dev.D', 'Johnny Gaddaar', 'Pinjar: Beyond Boundaries...', 'Hazaaron Khwaishein Aisi', 'Shree 420', 'Dor', 'Zakhm', 'The Lunchbox', 'English Vinglish', 'Vicky Donor', 'Lakshya', 'Awaara', 'Gangaajal', 'Dasvidaniya', 'Abhimaan', 'Mother India', 'Ab Tak Chhappan', 'Parinda', 'Stanley Ka Dabba', '3 Deewarein', 'Water', 'Oye Lucky! Lucky Oye!', 'Kai po che!', 'Don', 'Mr. India', 'Guru', 'Rock On!!', 'Mumbai Meri Jaan', 'Wake Up Sid', 'Pyaar Ka Punchnama', 'Madras Cafe', 'Sarkar', 'Raanjhanaa', 'Agneepath', 'Manorama: Six Feet Under', 'Aamir', 'Bheja Fry', 'Earth', 'Delhi Belly', 'Shatranj Ke Khilari', 'Ek Hasina Thi', 'Rangeela', 'Qayamat Se Qayamat Tak', 'Jaane Tu... Ya Jaane Na', 'Socha Na Tha', 'Gunda']

['8.5', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8', '8', '8', '8', '8', '8', '8', '8', '8', '8', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.5', '7.5', '7.5', '7.4', '7.4', '7.4', '7.4', '7.3']

['(1979)', '(2009)', '(1983)', '(2004)', '(2007)', '(1998)', '(2006)', '(1976)', '(1982)', '(1983)', '(1965)', '(1957)', '(1975)', '(2012)', '(2012)', '(2013)', '(1992)', '(2011)', '(2001)', '(2004)', '(2001)', '(2012)', '(2006)', '(1975)', '(2008)', '(2000)', '(2006)', '(2003)', '(2012)', '(2007)', '(2012)', '(2005)', '(2010)', '(1971)', '(1999)', '(1960)', '(1972)', '(2002)', '(2005)', '(1995)', '(2013)', '(1994)', '(2006)', '(2009)', '(2003)', '(2002)', '(1975)', '(1999)', '(1968)', '(2003)', '(2010)', '(2007)', '(2000)', '(1988)', '(2009)', '(2007)', '(2003)', '(2003)', '(1955)', '(2006)', '(1998)', '(2013)', '(2012)', '(2012)', '(2004)', '(1951)', '(2003)', '(2008)', '(1973)', '(1957)', '(2004)', '(1989)', '(2011)', '(2003)', '(I) (2005)', '(2008)', '(2013)', '(1978)', '(1987)', '(2007)', '(2008)', '(2008)', '(2009)', '(2011)', '(2013)', '(2005)', '(2013)', '(1990)', '(2007)', '(2008)', '(2007)', '(1999)', '(2011)', '(1977)', '(2004)', '(1995)', '(1988)', '(2008)', '(2005)', '(1998)']

In [7]:
print('*'*65)
print('\t\t IMDB’s Top rated 100 Indian Movies')
print('*'*65)

df_movies=pd.DataFrame({'Name of Movie':name2, 'Rating of Movie':rating2, 'Year of Release of Movie':release2})
df_movies

*****************************************************************
		 IMDB’s Top rated 100 Indian Movies
*****************************************************************

              Name of Movie Rating of Movie Year of Release of Movie
0                   Golmaal             8.5                   (1979)
1                  3 Idiots             8.4                   (2009)
2                    Masoom             8.4                   (1983)
3              Black Friday             8.4                   (2004)
4          Taare Zameen Par             8.3                   (2007)
..                      ...             ...                      ...
95                 Rangeela             7.4                   (1995)
96   Qayamat Se Qayamat Tak             7.4                   (1988)
97  Jaane Tu... Ya Jaane Na             7.4                   (2008)
98             Socha Na Tha             7.4                   (2005)
99                    Gunda             7.3                   (1998)

[100 rows x 3 columns]

# Q.4.Answer:  A python program to display list of respected former presidents of India

In [8]:
page3= requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup3= BeautifulSoup(page3.content)

President_name=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('h3')
    President_name.append(cells[0].text.strip())
print(President_name,'\n')

Term=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term.append(cells[0].text.strip().replace('Term of Office:',''))
print(Term,'\n')

['Shri Pranab Mukherjee (1935-2020)', 'Smt Pratibha Devisingh Patil (birth - 1934)', 'DR. A.P.J. Abdul Kalam (1931-2015)', 'Shri K. R. Narayanan (1920 - 2005)', 'Dr Shankar Dayal Sharma (1918-1999)', 'Shri R Venkataraman (1910-2009)', 'Giani Zail Singh (1916-1994)', 'Shri Neelam Sanjiva Reddy (1913-1996)', 'Dr. Fakhruddin Ali Ahmed (1905-1977)', 'Shri Varahagiri Venkata Giri (1894-1980)', 'Dr. Zakir Husain (1897-1969)', 'Dr. Sarvepalli Radhakrishnan (1888-1975)', 'Dr. Rajendra Prasad (1884-1963)']

[' 25 July, 2012 to 25 July, 2017', ' 25 July, 2007 to 25 July, 2012', ' 25 July, 2002 to 25 July, 2007', ' 25 July, 1997 to 25 July, 2002', ' 25 July, 1992 to 25 July, 1997', ' 25 July, 1987 to 25 July, 1992', ' 25 July, 1982 to 25 July, 1987', ' 25 July, 1977 to 25 July, 1982', ' 24 August, 1974 to 11 February, 1977', ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974', ' 13 May, 1967 to 3 May, 1969', ' 13 May, 1962 to 13 May, 1967', ' 26 January, 1950 to 13 May, 1962']

In [9]:
print('-'*68)
print('\t\t\t Former Presidents List')
print('-'*68)

df_president=pd.DataFrame({'Name of President':President_name,'Term of Office':Term})
df_president

--------------------------------------------------------------------
			 Former Presidents List
--------------------------------------------------------------------

,Name of President,Term of Office
0,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# Q.5.Answer:  A python program to scrape cricket rankings

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [61]:
page4= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup4= BeautifulSoup(page4.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup4.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
        
print('-'*50)
print("\t Top 10 ODI Teams in Men's Cricket")
print('-'*50)

df_team = pd.DataFrame({'Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_team

--------------------------------------------------
	 Top 10 ODI Teams in Men's Cricket
--------------------------------------------------

  Ranking               Team Matches Points Rating
0       1   New Zealand , NZ      12  1,505    125
1       2      England , ENG      22  2,756    125
2       3     Pakistan , PAK      19  2,005    106
3       4        India , IND      22  2,304    105
4       5    Australia , AUS      23  2,325    101
5       6  South Africa , SA      19  1,872     99
6       7   Bangladesh , BAN      24  2,275     95
7       8     Sri Lanka , SL      29  2,658     92
8       9   West Indies , WI      32  2,306     72
9      10  Afghanistan , AFG      18  1,238     69

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [68]:
page4_b= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup4_b= BeautifulSoup(page4_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*40)
print(" Top 10 ODI Batsmen in Men's Cricket")
print('-'*40)

df_batting= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_batting

----------------------------------------
 Top 10 ODI Batsmen in Men's Cricket
----------------------------------------

                  Player Team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2            Virat Kohli  IND    811
3           Rohit Sharma  IND    791
4        Quinton de Kock   SA    789
5            Ross Taylor   NZ    775
6  Rassie van der Dussen   SA    769
7         Jonny Bairstow  ENG    760
8           David Warner  AUS    745
9            Aaron Finch  AUS    727

c) Top 10 ODI bowlers along with the records of their team and rating.

In [67]:
page4_c= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
print(page4,'\n')
soup4_c= BeautifulSoup(page4_c.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_c.find_all ('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())

print('-'*40)
print("  Top 10 ODI Bowlers in Men's Cricket")
print('-'*40)

df_bowling=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})
df_bowling

<Response [200]>

----------------------------------------
  Top 10 ODI Bowlers in Men's Cricket
----------------------------------------

             Player Team Rating
0       Trent Boult   NZ    726
1      Chris Woakes  ENG    686
2        Matt Henry   NZ    683
3    Shaheen Afridi  PAK    681
4    Jasprit Bumrah  IND    679
5  Mujeeb Ur Rahman  AFG    676
6    Josh Hazlewood  AUS    667
7      Mehedi Hasan  BAN    661
8     Mohammad Nabi  AFG    657
9   Shakib Al Hasan  BAN    657

# Q.6.Answer:  A python program to display list of respected former president

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [72]:
page5= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup5= BeautifulSoup(page5.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup5.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())

print('-'*45)
print("     Top 10 ODI Teams in Women's Cricket")
print('-'*45)

df_team1 = pd.DataFrame({' Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_team1

---------------------------------------------
     Top 10 ODI Teams in Women's Cricket
---------------------------------------------

   Ranking               Team Matches Points Rating
0        1    Australia , AUS      29  4,837    167
1        2  South Africa , SA      32  3,949    123
2        3      England , ENG      30  3,531    118
3        4        India , IND      29  2,889    100
4        5   New Zealand , NZ      31  3,019     97
5        6   West Indies , WI      30  2,768     92
6        7   Bangladesh , BAN      12    930     78
7        8     Pakistan , PAK      30  1,962     65
8        9     Sri Lanka , SL       8    384     48
9       10      Ireland , IRE       8    351     44

b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [77]:
page5_b= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
print(page5_b,'\n')
soup5_b= BeautifulSoup(page5_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("  Top 10 ODI Batting Players in Women's Cricket")
print('-'*50)

df_batting1= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_batting1

<Response [200]>

--------------------------------------------------
  Top 10 ODI Batting Players in Women's Cricket
--------------------------------------------------

              Player Team Rating
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    713
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659
9       Ellyse Perry  AUS    642

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [79]:
page5_c= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
print(page5_c,'\n')
soup5_c= BeautifulSoup(page5_c.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_c.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("Top 10 women’s ODI all-rounder in Women's Cricket")
print('-'*50)


df_All_Rounder= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_All_Rounder

<Response [200]>

--------------------------------------------------
Top 10 women’s ODI all-rounder in Women's Cricket
--------------------------------------------------

             Player Team Rating
0    Natalie Sciver  ENG    393
1      Ellyse Perry  AUS    374
2   Hayley Matthews   WI    338
3    Marizanne Kapp   SA    338
4       Amelia Kerr   NZ    335
5  Ashleigh Gardner  AUS    269
6     Deepti Sharma  IND    249
7     Jess Jonassen  AUS    245
8         Sune Luus   SA    223
9   Katherine Brunt  ENG    221

# Q.7.Answer:  A python program to scrape mentioned news details

In [10]:
page7= requests.get('https://www.cnbc.com/world/?region=world')
soup7= BeautifulSoup(page7.content)

headline=[]
for i in soup7.find_all('a', class_="LatestNews-headline"):
    headline.append(i.get('title'))
print(headline,'\n')

time=[]
for i in soup7.find_all('span', class_="LatestNews-wrapper"):
    time.append(i.text)
print(time,'\n')

News_Link = []
for i in soup7.findAll('a',class_="LatestNews-headline"):
    News_Link.append(i.get('href'))
print(News_Link,'\n')

['Europe markets set to slide at the open as investors weigh up economic outlook', 'Tesla is cutting about 200 Autopilot jobs and closing office in San Mateo, California', 'Have stocks bottomed? Here’s one indicator pros say to watch closely', "Goldman sees 'rapid' growth in semiconductors and gives 2 stocks over 70% upside", "Hong Kong's Hang Seng leads losses as Asia Pacific stocks fall; Australia retail sales rise ", "Cramer's lightning round: I can't recommend Simulations Plus", 'AWS CEO says the move to cloud computing is only just getting started', 'U.S. to deploy nearly 300,000 monkeypox vaccine doses to fight outbreak', 'Nike has a ‘much better risk-reward’ than the market believes, Jim Cramer says', "Jim Cramer picks 4 'buyable' stocks to snap up after ugly market days", 'Stock futures are flat after failed attempt at a rally ', "China's economy didn't bounce back in the second quarter, China Beige Book finds", 'Best trades on CNBC Tuesday: Pros buy these stocks on new China Covid rules', 'Key takeaways from explosive Jan. 6 hearing featuring former White House aide', "CVS removes purchase limit on Plan B pills, says sales have 'returned to normal'", 'FDA panel recommends changing Covid shots to fight omicron this fall ', 'Millions of US residents may get new stimulus checks worth up to $1,050', 'First phase of market downturn is done. Two more to go: Billionaire Jim Coulter', "Disney extends CEO Bob Chapek's contract by three years", 'Pinterest CEO Ben Silbermann is stepping down and the stock is up', "Trump thought Pence 'deserves' chants of 'hang Mike Pence,' ex-aide testifies", "Apple using Qualcomm's 5G chip in next iPhone would be big boost to earnings", 'Amazon limits how many Plan B pills you can buy as demand surges', "California plans 'inflation relief' checks. Will other states follow?", "Morgan Stanley's big buyback and dividend hike show how stocks can beat bonds", "Intel CEO vents about Ohio chip plant delay: 'Please don't dither in Congress.'", 'NATO strikes deal with Turkey to admit Sweden and Finland: Secretary-general ', "UBS says this economy is going through 'slowflation' and gives stocks to play it", "Job loss is a 'reality' of the business cycle: 6 steps to take after job loss", 'Consider hiding out in these tech stocks during a bear market, Bernstein says']

['21 Min Ago', '3 Hours Ago', '5 Hours Ago', '5 Hours Ago', '5 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '7 Hours Ago', '7 Hours Ago', '7 Hours Ago', '7 Hours Ago', '8 Hours Ago', '8 Hours Ago', '8 Hours Ago', '8 Hours Ago', '8 Hours Ago', '9 Hours Ago', '9 Hours Ago', '9 Hours Ago', '9 Hours Ago', '10 Hours Ago', '10 Hours Ago', '10 Hours Ago', '10 Hours Ago', '10 Hours Ago', '10 Hours Ago', '11 Hours Ago']

['https://www.cnbc.com/2022/06/29/european-markets-open-to-close-stocks-data-as-ecb-meets-in-sintra.html', 'https://www.cnbc.com/2022/06/28/tesla-cutting-200-jobs-closing-autopilot-office-in-san-mateo.html', 'https://www.cnbc.com/2022/06/29/how-to-tell-if-the-bear-market-is-bottoming-according-to-the-pros.html', 'https://www.cnbc.com/2022/06/29/goldman-sachs-stock-picks-these-semiconductor-companies-are-set-to-grow.html', 'https://www.cnbc.com/2022/06/29/asia-markets-wall-street-consumer-confidence-currencies-and-oil.html', 'https://www.cnbc.com/2022/06/28/cramers-lightning-round-i-cant-recommend-simulations-plus.html', 'https://www.cnbc.com/2022/06/28/aws-ceo-says-the-move-to-cloud-computing-is-only-just-getting-started.html', 'https://www.cnbc.com/2022/06/28/us-to-deploy-nearly-300000-monkeypox-vaccine-doses-to-fight-outbreak.html', 'https://www.cnbc.com/2022/06/28/cramer-nike-has-a-much-better-risk-reward-than-the-market-believes.html', 'https://www.cnbc.com/2022/06/28/jim-cramer-picks-4-buyable-stocks-to-snap-up-after-ugly-market-days.html', 'https://www.cnbc.com/2022/06/28/stock-market-futures-open-to-close-news.html', 'https://www.cnbc.com/2022/06/28/chinas-economy-didnt-bounce-back-in-the-second-quarter-survey-finds.html', 'https://www.cnbc.com/2022/06/28/best-trades-on-cnbc-tuesday-pros-buy-stocks-on-new-china-covid-rules.html', 'https://www.cnbc.com/2022/06/28/jan-6-hearing-key-takeaways-from-explosive-6th-hearing.html', 'https://www.cnbc.com/2022/06/28/cvs-to-remove-purchase-limit-on-plan-b-pills-says-sales-have-returned-to-normal.html', 'https://www.cnbc.com/2022/06/28/fda-panel-recommends-changing-covid-shots-to-fight-omicron-this-fall-.html', 'https://www.cnbc.com/2022/06/28/inflation-relief-checks-worth-up-to-1050-dollars-per-person-may-come-to-california.html', 'https://www.cnbc.com/2022/06/28/first-phase-of-market-downturn-over-two-left-billionaire-jim-coulter.html', 'https://www.cnbc.com/2022/06/28/disney-board-votes-to-extend-ceo-bob-chapeks-contract-by-three-years.html', 'https://www.cnbc.com/2022/06/28/pinterest-shares-pop-on-report-ceo-ben-silbermann-is-stepping-down.html', 'https://www.cnbc.com/2022/06/28/jan-6-hearing-trump-thought-pence-deserved-chants-to-hang-him-aide-says.html', 'https://www.cnbc.com/2022/06/28/investing-club-apple-using-qualcomms-5g-chip-in-next-iphone-would-be-big-boost-to-future-earnings.html', 'https://www.cnbc.com/2022/06/28/amazon-limits-plan-b-pill-purchases-as-demand-surges.html', 'https://www.cnbc.com/2022/06/28/california-plans-inflation-relief-checks-will-other-states-follow.html', 'https://www.cnbc.com/2022/06/28/morgan-stanleys-big-buyback-dividend-hike-shows-how-stocks-beat-bonds.html', 'https://www.cnbc.com/2022/06/28/intel-ceo-on-ohio-chip-plant-delay-please-dont-dither-in-congress.html', 'https://www.cnbc.com/2022/06/28/nato-reaches-deal-with-turkey-to-admit-sweden-and-finland-secretary-general-says.html', 'https://www.cnbc.com/2022/06/28/ubs-says-this-economy-is-going-through-slowflation-and-gives-stocks-to-play-it.html', 'https://www.cnbc.com/2022/06/28/key-financial-steps-to-take-after-a-layoff.html', 'https://www.cnbc.com/2022/06/28/hide-out-in-these-tech-stocks-during-bear-markets-bernstein-says.html']

In [11]:
print('-'*90)
print('\t\t\t\t\t News Details')
print('-'*90)

News=pd.DataFrame({'Headline': headline, 'Time': time,'News Link': News_Link})
News

------------------------------------------------------------------------------------------
					 News Details
------------------------------------------------------------------------------------------

,Headline,Time,News Link
0,Europe markets set to slide at the open as inv...,21 Min Ago,https://www.cnbc.com/2022/06/29/european-marke...
1,Tesla is cutting about 200 Autopilot jobs and ...,3 Hours Ago,https://www.cnbc.com/2022/06/28/tesla-cutting-...
2,Have stocks bottomed? Here’s one indicator pro...,5 Hours Ago,https://www.cnbc.com/2022/06/29/how-to-tell-if...
3,Goldman sees 'rapid' growth in semiconductors ...,5 Hours Ago,https://www.cnbc.com/2022/06/29/goldman-sachs-...
4,Hong Kong's Hang Seng leads losses as Asia Pac...,5 Hours Ago,https://www.cnbc.com/2022/06/29/asia-markets-w...
5,Cramer's lightning round: I can't recommend Si...,6 Hours Ago,https://www.cnbc.com/2022/06/28/cramers-lightn...
6,AWS CEO says the move to cloud computing is on...,6 Hours Ago,https://www.cnbc.com/2022/06/28/aws-ceo-says-t...
7,"U.S. to deploy nearly 300,000 monkeypox vaccin...",6 Hours Ago,https://www.cnbc.com/2022/06/28/us-to-deploy-n...
8,Nike has a ‘much better risk-reward’ than the ...,6 Hours Ago,https://www.cnbc.com/2022/06/28/cramer-nike-ha...
9,Jim Cramer picks 4 'buyable' stocks to snap up...,6 Hours Ago,https://www.cnbc.com/2022/06/28/jim-cramer-pic...
10,Stock futures are flat after failed attempt at...,7 Hours Ago,https://www.cnbc.com/2022/06/28/stock-market-f...
11,China's economy didn't bounce back in the seco...,7 Hours Ago,https://www.cnbc.com/2022/06/28/chinas-economy...
12,Best trades on CNBC Tuesday: Pros buy these st...,7 Hours Ago,https://www.cnbc.com/2022/06/28/best-trades-on...
13,Key takeaways from explosive Jan. 6 hearing fe...,7 Hours Ago,https://www.cnbc.com/2022/06/28/jan-6-hearing-...
14,"CVS removes purchase limit on Plan B pills, sa...",8 Hours Ago,https://www.cnbc.com/2022/06/28/cvs-to-remove-...
15,FDA panel recommends changing Covid shots to f...,8 Hours Ago,https://www.cnbc.com/2022/06/28/fda-panel-reco...
16,Millions of US residents may get new stimulus ...,8 Hours Ago,https://www.cnbc.com/2022/06/28/inflation-reli...
17,First phase of market downturn is done. Two mo...,8 Hours Ago,https://www.cnbc.com/2022/06/28/first-phase-of...
18,Disney extends CEO Bob Chapek's contract by th...,8 Hours Ago,https://www.cnbc.com/2022/06/28/disney-board-v...
19,Pinterest CEO Ben Silbermann is stepping down ...,9 Hours Ago,https://www.cnbc.com/2022/06/28/pinterest-shar...
20,Trump thought Pence 'deserves' chants of 'hang...,9 Hours Ago,https://www.cnbc.com/2022/06/28/jan-6-hearing-...
21,Apple using Qualcomm's 5G chip in next iPhone ...,9 Hours Ago,https://www.cnbc.com/2022/06/28/investing-club...
22,Amazon limits how many Plan B pills you can bu...,9 Hours Ago,https://www.cnbc.com/2022/06/28/amazon-limits-...
23,California plans 'inflation relief' checks. Wi...,10 Hours Ago,https://www.cnbc.com/2022/06/28/california-pla...
24,Morgan Stanley's big buyback and dividend hike...,10 Hours Ago,https://www.cnbc.com/2022/06/28/morgan-stanley...
25,Intel CEO vents about Ohio chip plant delay: '...,10 Hours Ago,https://www.cnbc.com/2022/06/28/intel-ceo-on-o...
26,NATO strikes deal with Turkey to admit Sweden ...,10 Hours Ago,https://www.cnbc.com/2022/06/28/nato-reaches-d...
27,UBS says this economy is going through 'slowfl...,10 Hours Ago,https://www.cnbc.com/2022/06/28/ubs-says-this-...
28,Job loss is a 'reality' of the business cycle:...,10 Hours Ago,https://www.cnbc.com/2022/06/28/key-financial-...
29,Consider hiding out in these tech stocks durin...,11 Hours Ago,https://www.cnbc.com/2022/06/28/hide-out-in-th...

# Q.8.Answer: A python program to scrape the details of most downloaded articles from AI in last 90 days.

In [12]:
page8= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup8= BeautifulSoup(page8.content)

Paper_Title=[]
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Paper_Title.append(i.text)
print(Paper_Title,'\n')

Authors=[]
for i in soup8.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    Authors.append(i.text)  
print(Authors,'\n')

Published_Date=[]
for i in soup8.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    Published_Date.append(i.text)  
print(Published_Date,'\n')

Paper_URL=[]
for i in soup8.find_all('a', class_="sc-5smygv-0 nrDZj"):
    Paper_URL.append(i.get('href'))
print(Paper_URL,'\n')

['Reward is enough', 'Making sense of raw input', 'Law and logic: A review from an argumentation perspective', 'Creativity and artificial intelligence', 'Artificial cognition for social human–robot interaction: An implementation', 'Explanation in artificial intelligence: Insights from the social sciences', 'Making sense of sensory input', 'Conflict-based search for optimal multi-agent pathfinding', 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning', 'The Hanabi challenge: A new frontier for AI research', 'Evaluating XAI: A comparison of rule-based and example-based explanations', 'Argumentation in artificial intelligence', 'Algorithms for computing strategies in two-player simultaneous move games', 'Multiple object tracking: A literature review', 'Selection of relevant features and examples in machine learning', 'A survey of inverse reinforcement learning: Challenges, methods and progress', 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values', 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models', 'Integrating social power into the decision-making of cognitive agents', "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems", 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies', 'Algorithm runtime prediction: Methods & evaluation', 'Wrappers for feature subset selection', 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics', 'Quantum computation, quantum theory and AI']

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ', 'Evans, Richard, Bošnjak, Matko and 5 more', 'Prakken, Henry, Sartor, Giovanni ', 'Boden, Margaret A. ', 'Lemaignan, Séverin, Warnier, Mathieu and 3 more', 'Miller, Tim ', 'Evans, Richard, Hernández-Orallo, José and 3 more', 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ', 'Sutton, Richard S., Precup, Doina, Singh, Satinder ', 'Bard, Nolan, Foerster, Jakob N. and 13 more', 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ', 'Bench-Capon, T.J.M., Dunne, Paul E. ', 'Bošanský, Branislav, Lisý, Viliam and 3 more', 'Luo, Wenhan, Xing, Junliang and 4 more', 'Blum, Avrim L., Langley, Pat ', 'Arora, Saurabh, Doshi, Prashant ', 'Aas, Kjersti, Jullum, Martin, Løland, Anders ', 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ', 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ', 'Riveiro, Maria, Thill, Serge ', 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ', 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ', 'Kohavi, Ron, John, George H. ', 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ', 'Ying, Mingsheng ']

['October 2021', 'October 2021', 'October 2015', 'August 1998', 'June 2017', 'February 2019', 'April 2021', 'February 2015', 'August 1999', 'March 2020', 'February 2021', 'October 2007', 'August 2016', 'April 2021', 'December 1997', 'August 2021', 'September 2021', 'June 2021', 'December 2016', 'September 2021', 'May 2021', 'January 2014', 'December 1997', 'October 2021', 'February 2010']

['https://www.sciencedirect.com/science/article/pii/S0004370221000862', 'https://www.sciencedirect.com/science/article/pii/S0004370221000722', 'https://www.sciencedirect.com/science/article/pii/S0004370215000910', 'https://www.sciencedirect.com/science/article/pii/S0004370298000551', 'https://www.sciencedirect.com/science/article/pii/S0004370216300790', 'https://www.sciencedirect.com/science/article/pii/S0004370218305988', 'https://www.sciencedirect.com/science/article/pii/S0004370220301855', 'https://www.sciencedirect.com/science/article/pii/S0004370214001386', 'https://www.sciencedirect.com/science/article/pii/S0004370299000521', 'https://www.sciencedirect.com/science/article/pii/S0004370219300116', 'https://www.sciencedirect.com/science/article/pii/S0004370220301533', 'https://www.sciencedirect.com/science/article/pii/S0004370207000793', 'https://www.sciencedirect.com/science/article/pii/S0004370216300285', 'https://www.sciencedirect.com/science/article/pii/S0004370220301958', 'https://www.sciencedirect.com/science/article/pii/S0004370297000635', 'https://www.sciencedirect.com/science/article/pii/S0004370221000515', 'https://www.sciencedirect.com/science/article/pii/S0004370221000539', 'https://www.sciencedirect.com/science/article/pii/S0004370221000096', 'https://www.sciencedirect.com/science/article/pii/S0004370216300868', 'https://www.sciencedirect.com/science/article/pii/S0004370221000588', 'https://www.sciencedirect.com/science/article/pii/S0004370221000102', 'https://www.sciencedirect.com/science/article/pii/S0004370213001082', 'https://www.sciencedirect.com/science/article/pii/S000437029700043X', 'https://www.sciencedirect.com/science/article/pii/S0004370221000734', 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [13]:
print('-'*127)
print('\t\t\t\t\t\t Most Downloaded Articles')
print('-'*127)

Articles=pd.DataFrame({'Paper Title': Paper_Title,'Authors': Authors,'Published Date': Published_Date, 'Paper URL':Paper_URL})
Articles

-------------------------------------------------------------------------------------------------------------------------------
						 Most Downloaded Articles
-------------------------------------------------------------------------------------------------------------------------------

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q.9.Answer:  A python program to scrape  details from dineout.co.in

In [15]:
page9= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup9= BeautifulSoup(page9.content)

restaurant_name= []
for i in soup9.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)
print(restaurant_name,'\n')

Cuisine=[]
for i in soup9.find_all('div', class_="detail-info"):
    Cuisine.append((i.text.split()[6])+(' ')+(i.text.split()[7]))
print(Cuisine,'\n')

location=[]
for i in soup9.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)
print (location,'\n')

Ratings= []
for i in soup9.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(i.text)
print(Ratings,'\n')

Image_URL= []
for i in soup9.find_all('img', class_="no-img"):
    Image_URL.append(i['data-src'])
print(Image_URL,'\n')

['Castle Barbeque', 'Jungle Jamboree', 'Castle Barbeque', 'Cafe Knosh', 'The Barbeque Company', 'India Grill', 'Delhi Barbeque', 'The Monarch - Bar Be Que Village', 'World Cafe', 'Indian Grill Room', 'Mad 4 Bar B Que', 'Barbeque 29', 'Glasshouse']

['North Indian,', 'North Indian,', 'Chinese, North', 'Italian, Continental3', 'North Indian,', 'North Indian,', 'North Indian', 'North Indian', 'North Indian,', 'North Indian,', 'North Indian', 'North Indian,', 'European, Italian,']

['Connaught Place, Central Delhi', '3CS Mall,Lajpat Nagar - 3, South Delhi', 'Pacific Mall,Tagore Garden, West Delhi', 'The Leela Ambience Convention Hotel,Shahdara, East Delhi', 'Gardens Galleria,Sector 38A, Noida', 'Hilton Garden Inn,Saket, South Delhi', 'Taurus Sarovar Portico,Mahipalpur, South Delhi', 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad', 'Vibe by The Lalit Traveller,Sector 35, Faridabad', 'Suncity Business Tower,Golf Course Road, Gurgaon', 'Sector 29, Faridabad', 'NIT, Faridabad', 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

['3.5', '3.9', '3.9', '4.3', '4', '3.9', '3.7', '3.8', '4.3', '4.3', '3.6', '4.2', '4']

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

In [16]:
print('-'*127)
print('\t\t\t\t\t\t Restaurant Details')
print('-'*127)

dineout=pd.DataFrame({'Restaurant_Name':restaurant_name,'Cuisine':Cuisine,'Location':location,'Ratings':Ratings,'Image_URL':Image_URL})
dineout

-------------------------------------------------------------------------------------------------------------------------------
						 Restaurant Details
-------------------------------------------------------------------------------------------------------------------------------

,Restaurant_Name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"North Indian,","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental3","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian,","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian,","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian,","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian,","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian,","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian,","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

# Q.10.Answer:  A python program to scrape the details of top publications from Google Scholar

In [17]:
page10= requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup10= BeautifulSoup(page10.content)

Rank=[]
for i in soup10.find_all('td', class_="gsc_mvt_p"):
    Rank.append(i.text)
print (Rank,'\n')

publication=[]
for i in soup10.find_all('td', class_="gsc_mvt_t"):
    publication.append(i.text)
print (publication,'\n')

h5_index=[]
for i in soup10.find_all('a', class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(i.text)
print (h5_index,'\n')

h5_media=[] 
for i in soup10.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5_media.append(i.text)
print (h5_media,'\n')

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.', '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.', '39.', '40.', '41.', '42.', '43.', '44.', '45.', '46.', '47.', '48.', '49.', '50.', '51.', '52.', '53.', '54.', '55.', '56.', '57.', '58.', '59.', '60.', '61.', '62.', '63.', '64.', '65.', '66.', '67.', '68.', '69.', '70.', '71.', '72.', '73.', '74.', '75.', '76.', '77.', '78.', '79.', '80.', '81.', '82.', '83.', '84.', '85.', '86.', '87.', '88.', '89.', '90.', '91.', '92.', '93.', '94.', '95.', '96.', '97.', '98.', '99.', '100.']

['Nature', 'The New England Journal of Medicine', 'Science', 'IEEE/CVF Conference on Computer Vision and Pattern Recognition', 'The Lancet', 'Advanced Materials', 'Nature Communications', 'Cell', 'International Conference on Learning Representations', 'Neural Information Processing Systems', 'JAMA', 'Chemical Reviews', 'Proceedings of the National Academy of Sciences', 'Angewandte Chemie', 'Chemical Society Reviews', 'Journal of the American Chemical Society', 'IEEE/CVF International Conference on Computer Vision', 'Nucleic Acids Research', 'International Conference on Machine Learning', 'Nature Medicine', 'Renewable and Sustainable Energy Reviews', 'Science of The Total Environment', 'Advanced Energy Materials', 'Journal of Clinical Oncology', 'ACS Nano', 'Journal of Cleaner Production', 'Advanced Functional Materials', 'Physical Review Letters', 'Scientific Reports', 'The Lancet Oncology', 'Energy & Environmental Science', 'IEEE Access', 'PLoS ONE', 'Science Advances', 'Journal of the American College of Cardiology', 'Applied Catalysis B: Environmental', 'Nature Genetics', 'BMJ', 'Circulation', 'European Conference on Computer Vision', 'International Journal of Molecular Sciences', 'Nature Materials', 'Chemical engineering journal', 'AAAI Conference on Artificial Intelligence', 'Journal of Materials Chemistry A', 'ACS Applied Materials & Interfaces', 'Nature Biotechnology', 'The Lancet Infectious Diseases', 'Frontiers in Immunology', 'Applied Energy', 'Nano Energy', 'Nature Energy', 'Meeting of the Association for Computational Linguistics (ACL)', 'The Astrophysical Journal', 'Gastroenterology', 'Nature Methods', 'IEEE Transactions on Pattern Analysis and Machine Intelligence', 'Cochrane Database of Systematic Reviews', 'Blood', 'Neuron', 'Nano Letters', 'Morbidity and Mortality Weekly Report', 'European Heart Journal', 'Nature Nanotechnology', 'ACS Catalysis', 'Nature Neuroscience', 'American Economic Review', 'Journal of High Energy Physics', 'IEEE Communications Surveys & Tutorials', 'Annals of Oncology', 'Nutrients', 'Accounts of Chemical Research', 'Immunity', 'Environmental Science & Technology', 'Nature Reviews. Molecular Cell Biology', 'Gut', 'Physical Review D', 'ACS Energy Letters', 'Monthly Notices of the Royal Astronomical Society', 'Conference on Empirical Methods in Natural Language Processing (EMNLP)', 'Clinical Infectious Diseases', 'Cell Metabolism', 'Nature Reviews Immunology', 'Joule', 'Nature Photonics', 'International Journal of Environmental Research and Public Health', 'Environmental Pollution', 'Computers in Human Behavior', 'Frontiers in Microbiology', 'Nature Physics', 'Small', 'Cell Reports', 'Molecular Cell', 'Clinical Cancer Research', 'Bioresource Technology', 'Journal of Business Research', 'Molecular Cancer', 'Sensors', 'Nature Climate Change', 'IEEE Internet of Things Journal']

['444', '432', '401', '389', '354', '312', '307', '300', '286', '278', '267', '265', '256', '245', '244', '242', '239', '238', '237', '235', '227', '225', '220', '213', '211', '211', '210', '207', '206', '202', '202', '200', '198', '197', '195', '192', '191', '190', '189', '186', '183', '181', '181', '180', '178', '177', '175', '173', '173', '173', '172', '170', '169', '167', '166', '165', '165', '165', '165', '164', '164', '163', '163', '163', '163', '162', '160', '160', '159', '159', '159', '159', '158', '158', '155', '155', '155', '155', '155', '154', '153', '153', '152', '152', '152', '152', '152', '152', '151', '151', '150', '149', '149', '146', '146', '145', '145', '145', '144', '144']

['667', '780', '614', '627', '635', '418', '428', '505', '533', '436', '425', '444', '364', '332', '386', '344', '415', '550', '421', '389', '324', '311', '300', '315', '277', '273', '280', '294', '274', '329', '290', '303', '278', '294', '276', '246', '297', '307', '301', '321', '253', '265', '224', '296', '220', '223', '315', '296', '228', '217', '232', '314', '304', '234', '254', '296', '293', '243', '229', '231', '207', '302', '265', '264', '220', '248', '263', '220', '304', '243', '214', '211', '242', '214', '340', '235', '217', '212', '194', '249', '278', '211', '292', '233', '228', '225', '222', '214', '225', '222', '196', '205', '202', '201', '190', '233', '209', '201', '228', '212']

In [18]:
print('-'*65)
print('\tThe Details of Top Publications from Google Scholar')
print('-'*65)

publications=pd.DataFrame({'Rank':Rank,'Publication':publication,'h5_index':h5_index, 'h5_media':h5_media})
publications

-----------------------------------------------------------------
	The Details of Top Publications from Google Scholar
-----------------------------------------------------------------

    Rank                                        Publication h5_index h5_media
0     1.                                             Nature      444      667
1     2.                The New England Journal of Medicine      432      780
2     3.                                            Science      401      614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389      627
4     5.                                         The Lancet      354      635
..   ...                                                ...      ...      ...
95   96.                       Journal of Business Research      145      233
96   97.                                   Molecular Cancer      145      209
97   98.                                            Sensors      145      201
98   99.                              Nature Climate Change      144      228
99  100.                    IEEE Internet of Things Journal      144      212

[100 rows x 4 columns]